a{
    text-decoration: none;
    color: gray;
}

ul{
    list-style: none;
}

button{
    background: none;
    border: none;
    color: white;
}

.app{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}

.app main{
    height: calc(100vh - 90px);
}

.app .sidebar{
    background-color: #000;
    padding: 15px;
    height: calc(100vh - 90px); 
    display: flex;
    flex-direction: column;
}

.app .content{
    background-color: #131922;
    overflow-y: scroll;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.app .top-nav{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    height: 90px;
    line-height: 90px;
    text-align: right;
    z-index: 1;
}

.app .top-nav-bg{
    background-color: rgba(0, 0, 0, 0.4);
}

.top-nav a{
    text-transform: uppercase;
    padding: 10px 40px; 
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 12px;
    transition: all .1s;
}

.top-nav a:hover{
    font-size: 15px;
}

.btn.home .description a, 
.btn.profile .description{
    color: white;
    font-size: bold;
}

.btn.profile .description{
    font-size: 15px;
    margin-left: 5px;
}

.sidebar, 
.sidebar .nav-menu i, 
.sidebar a, 
.sidebar span,
.sidebar h4,
.sidebar li,
.sidebar .btn {
    color: rgb(112, 111, 111);
    padding-top: 15px;
}

.play-list .btn i{
    font-size: 25px;
}

.sidebar h4{
    color: white;
    padding-top: 25px;
}

.sidebar li:first-child{
    padding-top: 0;
}

.icon{
    padding-right: 5px;
}

.sidebar .logo img{
    width: 130px;
    padding-bottom: 20px;
}


.sidebar button,
.nav-menu .btn, 
.play-list .btn, 
.user .btn{
    display: flex;
    align-items: center;
}

.nav-menu i{
    font-size: 22px;
    padding-right: 5px;
}

.sidebar .logo .logo-mobile{
    display: none;
}

.sidebar .nav-menu button{
    display: block;
    text-align: left;
}

svg{
    width: 20px;
}

.sidebar .play-list,
.content{
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

hr{
    border-top: none;
    border-bottom: 1px solid #7a7a7a;
    margin-top: 10px;
}

.sidebar .icon-profile {
    background-color: #7a7a7a;
    border-radius: 50%;
    width: 25px;
    /* height: 25px; */
    text-align: center;
}

.sidebar .icon-profile svg{
    width: 86%;
    margin-left: 4px;
    
}

.content .menu{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
}

.content .menu .item-menu a{
    color: #7a7a7a;
    font-weight: 800;
}

.item-menu .border-bottom-green{ 
    width: 30%;
    margin-top: 5px;
    height: 2px;
    background-color: yellowgreen;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.sidebar .border-left-green{
    width: 2px;
    height: 25px;
    background-color: yellowgreen;
    position: relative;
    left: -14px;
}

.content .menu .item-menu {
    padding: 15px;
}

.content ul li{
    display: inline-block;
    padding: 15px 15px;
}

.content .album {
    padding-right: 10px;
    text-align: center;
    max-width: 300px;
}

.content .album-row h2{
    padding: 30px 0 10px 0;
}

.content .album-row h4{   
    padding-bottom: 15px;
}

.content .album-description .title{
    font-size: 13px;
    font-weight: bold;
    padding: 10px 0;
}

.content .album-description .subtitle{
    font-size: 10px;
    padding-bottom: 20px;
}

.content .row .cover .opacity{
    width: 100%;
    transition: all 3s ease 0s;
}

.hit img{
    border-radius: 50%;
}

.content .cover img{
    width: 100%;
    height: auto;
    display: block;
}

.content .cover{
    position: relative;
}

.hover-play{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: height .5s;
}

/* .hover-play-circle{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    transition: height .5s;
    border-radius: 50%;
}

.cover:hover .hover-play-circle{
    height: 99%;
    width: 100%;
    border-radius: 50%;
} */

.cover.hover-play-opacity img{
    opacity: 1;
    transition: .5s;
}

.cover.hover-play-opacity:hover img{
    opacity: 0.6;
}

.album:hover .cover .hover-play{
    height: 100%;
}

.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity: 0;
    transition: opacity .2s linear;
}

.album:hover .cover .play{
    opacity: 1;
}

.app footer{
    background-color: #282828 ;
    height: 90px;
    font-size: 12px;
}

.nav-bottom{
    height: 100%;
} 

.nav-bottom .left, 
.nav-bottom .right{
    flex-basis: 200px;  
}

.nav-bottom,
.nav-bottom .left, 
.nav-bottom .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bottom .cover-album-reproduction img{
    width: 50px;
    margin: 10px;
} 


.nav-bottom .left .title-in-reproduction .titolo,  
.nav-bottom .left .icon i,
.content .menu a, 
.album-description .subtitle,
.album-row h4{
    color: gray;
}

.nav-bottom .left .icon i:hover{
    color: white;
}
   
.nav-bottom .left .icon i.fa-heart,
.nav-bottom .left .icon i.fa-folder {
    padding-left: 10px;
}


.nav-bottom .command-button button {
    /* font-size: 14px; */
    padding: 10px;
}

.nav-bottom .command-button button i.fa-play-circle {
    font-size: 30px;
}

.nav-bottom .command-button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 60px; */
}

.nav-bottom .center .progress{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 30px; */
}

.total-bar, .progress-bar{
    height: 4px;
    border-radius: 5px;
}

.total-bar{
    background-color: rgb(112, 111, 111);
}

.progress-bar{
    background-color: white;
}

.nav-bottom .center .total-bar{
    width: 50%;
}

.progress .time-progress{
    padding-right: 15px;
} 

.progress .time-total{
    padding-left: 15px;
} 

.progress .progress-bar, 
.volume .progress-bar{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.progress-bar .dot{
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: none;
}

.total-bar:hover .progress-bar{
    background-color: rgb(74, 230, 74);
}

.total-bar:hover .progress-bar .dot{
    display: block;
}

.nav-bottom .rigth .icon, 
.nav-bottom .center {
    flex-grow: 1;
}

.fa-list, .fa-desktop, .fa-volume-up {
    padding-right: 6px;
}

.nav-bottom .right .volume {
    width: 60%;
    padding: 0 6px;
}

.nav-bottom .right .volume .total-bar{
    width: 100%;
}

.nav-bottom .right .volume .progress-bar{
    width: 70%;
}

.mr-hyde{
    display: none;
}

.play-list a:hover,
.btn:hover,
.content .item-menu a:hover,
.left .button i:hover {
    color: white;
}

.nav-menu .btn.find svg path,
.nav-menu .btn.library svg path{
    fill: gray;
}

.nav-menu .btn.find:hover svg path,
.nav-menu .btn.library:hover svg path{
    fill: white;
}

.nav-menu .btn.find:hover a,
.nav-menu .btn.library:hover a{
    color: white;
}

.nav-bottom .left a:hover{
    text-decoration: underline;
}

.nav-bottom .command-button button i.fa-play-circle:hover {
    transform: scale(1.2);
}

/* -----------------MEDIA-------------------- */

@media only screen and (max-width: 575px) {
    .nav-bottom .cover-album-reproduction img{
        width: 40px;
        margin: 10px;
    } 

    .nav-bottom .right .volume {
        padding: 0 4px;
    }

    .fa-list, .fa-desktop, .fa-volume-up {
        padding-right: 1px;
    }

    .nav-menu i{
        font-size: 20px;
    }

    .app .sidebar{
        align-items: center;
        padding: 5px;
    }

    .sidebar .logo .logo-mobile{
        display: block;
        width: 25px;
        padding-bottom: 0;
    }

    .sidebar .logo .logo-desktop, .hide{
        display: none;
    }

    hr{
        display: none;
    }

    .btn.install .icon{
        margin-left: 5px;
    }

    .mr-hide{
        display: block;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
