*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.app{
    height: 100vh;
}

.app main{
    height: calc(100vh - 90px);
}

.app .sidebar{
    background-color: #000;
}

.app .content{
    background-color: #131922;
    overflow-y: scroll;
    height: 100%;
}

.content .top-nav{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    height: 90px;
    line-height: 90px;
    text-align: right;
}

.top-nav a{
    text-transform: uppercase;
    padding: 10px 40px; 
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 20px;
}

.app footer{
    background-color: #282828 ;
    height: 90px;
    font-size: 12px;
}
.nav-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 

.left{
    justify-content: space-between;
    align-items: center;
}

.nav-bottom .left, .nav-bottom.right{
    flex-basis: 250px;
}

.nav-bottom .col{
    flex-grow: 1;
}

.nav-bottom img{
    width: 50px;
    margin: 15px;
} 

.title{
    height: 100%;
}

.left .icon i{
    color: gray;
}

.left .icon i.fa-heart{
    padding: 0 10px 0 20px;
}

.left .icon fa-folder{
    padding: 0;
}

