*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

button{
    background: none;
    border: none;
    color: white;
}

.app{
    height: 100vh;
}

.app main{
    height: calc(100vh - 90px);
}

.app .sidebar{
    background-color: #000;
}

.app .content{
    background-color: #131922;
    overflow-y: scroll;
    height: 100%;
}

.content .top-nav{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    height: 90px;
    line-height: 90px;
    text-align: right;
}

.top-nav a{
    text-transform: uppercase;
    padding: 10px 40px; 
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 20px;
}

.app footer{
    background-color: #282828 ;
    height: 90px;
    font-size: 12px;
}
.nav-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 

.left.row{
    flex-wrap: nowrap;
}

.nav-bottom .left, .nav-bottom .right{
    justify-content: space-between;
    align-items: center;
}

.nav-bottom .left, .nav-bottom .right{
    flex-basis: 200px;  
}

.nav-bottom .cover-album-reproduction img{
    width: 50px;
    margin: 10px;
} 

.nav-bottom  .left .icon i{
    color: gray;
}

.nav-bottom .left .icon i.fa-heart, .nav-bottom .left .icon i.fa-folder {
    padding-left: 10px;
}

.nav-bottom .left .icon fa-folder{
    padding: 0;
}

.nav-bottom .center{
    text-align: center;
    flex-grow: 1;
}

.nav-bottom .command-button{
    display: flex;
    justify-content: center;
}

.nav-bottom .command-button button {
    font-size: 20px;
    padding: 0px 10px 15px 10px;
}

.nav-bottom .progress{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-bar{
    background-color: rgb(112, 111, 111);
    height: 3px;
}

.progress-bar{
    background-color: white;
    height: 3px;
}

.nav-bottom .center .total-bar{
    width: 50%;
}

.progress .time-progress{
    padding-right: 15px;
} 

.progress .time-total{
    padding-left: 15px;
} 

.progress .progress-bar{
    width: 30%;
}

.nav-bottom .right{
    display: flex;
}

.nav-bottom .rigth .icon {
    flex-grow: 1;
}

.fa-list, .fa-desktop, .fa-volume-up {
    padding-right: 10px;
}


.right .volume {
    width: 60%;
    padding: 0 7px;
}

.right .volume .total-bar{
    width: 100%;
}

.right .volume .progress-bar{
    width: 30%;

}